body {
	font-family: 'Nunito Sans', sans-serif;
	margin: 0;
	background: black;
}

main {
	padding: 24px;
	background: white;
}

header {
	font-size: 200%;
	font-weight: bold;
	padding-bottom: 12px;
	color: white;
	padding: 20px;
	background: midnightblue;
	text-align: center;
}
